django-admin-interface==0.28.6
django-colorfield==0.11.0
django-tailwind==3.8.0
django==5.0.4
gunicorn==22.0.0
llama-index==0.10.37
llama-index-embeddings-huggingface==0.2.0
mysqlclient==2.2.4
python-dotenv==1.0.1
requests==2.31.0
